#awards .tp1-v5-view{
    display: flex;
    
}

#awards .tp1-v5-texto{
    flex-grow: 3;
    padding-left: 20px;
/*     border: 2px solid green; */
    align-self: center;
}

#awards .box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    flex-direction: column;
    /* width: 800px; */
    height: 600px;
    align-content: space-between;
/*     border: 2px solid blue; */
  }
  
  #awards svg{
/*     border: 2px solid red; */
    margin-top: 20px;
  }

  #awards .mb-5 {
    margin-bottom: 1rem!important;
}