.vega-embed {
    display: flex !important;
    flex-direction: column;
}

.column{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.column-right{
    display: flex !important;
    flex-direction: column;
    padding-bottom: 250px;
}